#ifndef ENV_H
#define ENV_H

// WiFi
#define WIFI_SSID "......"
#define WIFI_PASSWORD "......"

// MQTT
#define MQTT_SERVER "127.0.0.1"
#define MQTT_PORT 1883
#define MQTT_USER "user"
#define MQTT_PASSWORD "password"

#define PRODUCTION true

#endif
